.header {
  background-color: #282c34;
  padding: 0px;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 10px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}
